body{
font-family: sans-serif;

}
.container {
    padding : 40px;
    max-width : 800px;
    margin: 0 auto;
    display: flex;
    flex-direction:  column;
    align-items: center;

}

#mrhimg {
    height: 250px;
    width: 500px;
    margin-bottom: 20px;


}